 <%- include('./partials/head') %> 

 <body>
    <% if (app.user) {  %>
		<%- include("./partials/headerLogueado") %> 
	<% } else {%>
		<%- include("./partials/headerDeslogueado") %> 
		<% } %>

	
	<div class="main-w3layouts wrapper">
		<h1>Editar Perfil</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/users/edit" method="POST">
					<input class="text" type="text" name="name" placeholder="Nombre"  value="<%= user.name %> ">
					<br>
					<input class="text" type="text" name="last_name" placeholder="Apellido" value="<%= user.last_name %> ">
					<input class="text email" type="mail" name="mail" placeholder="Mail" value="<%= user.mail %> ">
					<input class="text" type="password" name="password" placeholder="Contraseña" value="">
					<input class="text2 date" type="tel" name="phone" placeholder="Telefono"  value="<%= user.phone %> "></p>
					<input type="hidden" name="id" value="<%= user.id %> ">
					<div class="wthree-text">
					</div>
					<input type="submit" value="Guardar Cambios">
			</div>
		</div>
	</div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>