<%- include('./partials/head') %> 
<body>
<%- include("./partials/headerDeslogueado") %> 
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <% data.forEach(element => { %>
                        <article class="post uk-card-default uk-flex uk-flex-column">
                            <div class="info-usuario uk-flex ">
                                <div>
                                    <img src="<%= element.user_id %> " alt="">
                                </div>
                                <h4><a  class="nombreusuario hrefcolor" href="/users/profile"><%= element.user_id%></a></h4>
                                
                            </div>
                            <div class="post-body uk-flex uk-flex-center">
                                <a href="/posts/detail">
                                    <img src=<%=  element.imagenPost %> alt="">
                                </a>
                            </div>
                            <div class="post-reacciones">
                                <ul class="post-icons uk-flex uk-flex-between">
                                    <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                    </li>
                                    <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                    </li>
                                </ul>
                                <div class="post-pie uk-flex">
                                    <h5  class="uk-width-1-6"> <a class="hrefcolor" href="/users/profile"><%= element.user_id%></a></h5>
                                    <p class="uk-width-5-6"><%= element.descripcion %> </p>
                                </div>
                            </div>
                            <div class="post-comentarios">
                                <h6>Comentarios</h6>
                                <ul>
                                    <li>
                                        <a href="/users/profile"><%= element.user_id%></a>
                                        <p> Que inspirador </p>
                                    </li>
                                    <li>
                                        <a href="/users/profile"><%= element.user_id%></a>
                                        <p>Aguante Voca a Voca</p>
                                    </li>
                                    <a class="hrefcolor" href="posts/detail">Ver más...</a>
                                </ul>
                            </div>
                        </article>
                    <% }) %>
                    
                </section>

            </div>
        </div>
    </main>
    <%- include('./partials/footer') %> 

</body>

</html>