<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (app.user) {  %>
        <%- include("./partials/headerLogueado") %> 
    <% } else {%>
        <%- include("./partials/headerDeslogueado") %> 
        <% } %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <h2>Mostrando resultados para : <%= search %> </h2>
                <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                        <% data.forEach(element => { %>
                            <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                                <a href="/posts/detail/<%= element.id %>" class="link-detalle">
                                    <img src="<%= element.img %> " alt="foto de perfil" class="foto-perfil">
                                    <p class="uk-text-center"><%= element.description %> </p>
                                </a>
                            </div>
                        <% }) %>                 
                    </div>
                </section>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>